body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(red, snow);
}

.bg {
    width: 300px;
    height: max-content;
    background-image: url(img/quranSience.png);
    border-radius: 15px;
    margin: auto;
    margin-bottom: 30px;
}

.container {
    width: 300px;
    height: max-content;
    background-color: rgba(173, 216, 230, 0.2);
    border-radius: 15px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 0px;
    border: solid 3px lightskyblue;
    box-sizing: border-box;
    margin-top: 30px;
}

.katakita {
    text-align: center;
    margin-top: 0px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: Noto Sans, Arial;
    font-weight: 800;
    color: aliceblue;
    font-style: italic;
}

#isianText {
    text-align: center;
    color: yellow;
    font-family: Noto Sans, Arial;
    font-weight: 700;
}

#isian-el {
    text-align: center;
    color: yellow;
    font-family: Noto Sans, Arial;
    font-weight: 700;    
}

#count_el {
    text-align: center;
    font-size: 100px;
    font-family: Chewy, Arial;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.tombol-atas {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    gap: 30px;
}

.button {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button #add_btn {
    width: 70px;
    height: 70px;
    background-color: rgba(144, 238, 144, 0.8);
    color: black;
    border: none;
    border-radius: 35px;
    font-family: Noto Sans, Arial;
    font-weight: 700;
    transition: background-color 0.2s,
    color 0.2s; 
}

.button #add_btn:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

.button #reset_btn {
    width: 70px;
    height: 70px;
    background-color: rgba(240, 128, 128, 0.8);
    color: black;
    border: none;
    border-radius: 35px;
    font-family: Noto Sans, Arial;
    font-weight: 700;
    transition: background-color 0.2s,
    color 0.2s; 
}

.button #reset_btn:hover {
    background-color: lightcoral;
    color: black;
    cursor: pointer;
}

.button #newCount_btn {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 224, 0.8);
    color: black;
    border: none;
    border-radius: 40px;
    font-family: Noto Sans, Arial;
    font-weight: 700;
    transition: background-color 0.2s,
    color 0.2s; 
}

.button #newCount_btn:hover {
    background-color: lightyellow;
    color: black;
    cursor: pointer;
}